.about {
    /* background-color: #f8f8f8;
    margin: auto;
    padding: 8rem 1rem 0 1rem; */
    background-color: #EEEDF2;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    /* Borde redondeado */
    border-radius: 5px;
}

.about .about-container {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about .about-container img{
    width: 80%;
    height: auto;
}

.about .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.about .instructions-title {
    padding-top: 2rem;
}

.about h2{
    font-size: 3rem;
    color: var(--pink)
}

.about h3{
    font-size: 2rem;
    color: var(--light-pink)
}

@media screen and (max-width:940px) {
    .about .about-container {
        grid-template-columns: 1fr;
    }

    .about .about-container img {
        padding: 2rem;
        width: 80%;
    }

    .about .about-container .col-1 {
        padding: 1rem;
    }
    
}