.new-wish {
    /* Ancho */
    max-width: 40%;
    min-width: calc(600px * 0.9 * 0.9);

    /* Alto */
    max-height: 90%;

    /* Contenedor */
    align-items: center;
    justify-content: center;
}

.new-wish form {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.form-column {
    max-width: 33%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new-wish input {
    background-color: #EEEDF2;
    color: #333333;
    border: none;
    border-bottom: 4px dotted #333333;
}

.wish {
    width: 75%;
    font-size: x-large;
}

.description {
    width: 100%;
    font-size: medium;
}

.price {
    width: 100%;
    font-size: xx-large;
}

.add-button {
    background-color: #EEEDF2;
    max-width: 33%;
    aspect-ratio: 1;

    padding: 0px;
}

.add-button img {
    height: 3em;
}