.secret-friend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin: 20px;
}

.section-secret-friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    gap: 15px;
}

.secret-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;

    /* Borde */
    border-radius: 5px;
}

.date-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.date-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.date-input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333333;
    color: #EEEDF2;
    border: none;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}