.table {
    width: 400px;
    background-color: #E6B979;
    margin: 0 auto;
}   
body {
    background-color: #EEEDF2;
    margin: 0 auto;
}

.color-texto{
    color:black
}

.user-icon{
    width: 50px;
    background-color: white;
}

.boton-sortear{
    background-color: white;
    color: black;
    width: 120px;
    margin: 0 auto;
}

.color-cuerpo{
    background-color: #E6B979;
}