/* Tarjeta contenedora de las instrucciones */
.instructions-container {
    background-color: #EEEDF2;
    /* 80% de la ventana */
    width: 80vw;
    /* top right bottom left */
    margin: 150px 10% 20px 10%;
    padding: 20px;
    /* Borde redondeado */
    border-radius: 5px;
}

/* Barra equivalente al 100% del progreso (referencia del total) */
.progress-bar {
    background-color: #F2D6E2;
    height: 25px;
    margin-bottom: 20px;
    position: relative;

    /* Estilo de cursor fácilita entender que se puede hacer click */
    cursor: pointer;
}

/* Barra que muestra el progreso */
.progress {
    background-color: #D27E93;
    /* Ocupa el 100% para ser del mismo alto que progress-bar */
    height: 100%;
    transition: width 0.3s ease-in-out;
}

/* Controles (botones) de las intrucciones */
.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.controls button {
    /* Amarillo clarito para cuando no se quiere apretar el botón (no hover) */
    background-color: #F0D7AC;
    color: #333333;
    cursor: pointer;
    font-size: 16px;

    /* padding, border, y margin */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 20px;
}

.controls button:hover {
    /* Color amarillo original */
    background-color: #E6B979;
}